:root{
    --primary-color-desatured: hsl(0, 36%, 70%);
    --primary-color-soft: hsl(0, 93%, 68%);

    --neutral-dark: hsl(0, 6%, 24%);

    --gradient-color: Linear, 135deg, from #ffffff, to #fff5f5;
    --gradient-color-soft: Linear, 135deg, from #f8bfbf, to #ee8c8c;
}